.product-info-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.product-info-product-info {
  width: 100%;
  height: 1431px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  background-color: var(--dl-color-default-backgroundprimary);
}
.product-info-add-to-cart-buttonbutton {
  top: 502px;
  left: 740px;
  width: 350px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-info-button {
  top: 0px;
  left: 0px;
  width: 350px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(13, 13, 13, 1);
}
.product-info-text {
  top: 14px;
  left: 116.125px;
  color: var(--dl-color-colors-white);
  height: auto;
  position: absolute;
  text-align: center;
  line-height: 22px;
}
.product-info-quantity {
  top: 468px;
  left: 1108px;
  width: 100px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-info-container1 {
  flex: 0 0 auto;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.product-info-quantity-inputinput {
  gap: 47.5px;
  top: 34px;
  left: 0px;
  width: 162px;
  display: flex;
  padding: 12px 10px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: 12px 10px;
  padding-right: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.product-info-subtractsvg {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.product-info-text02 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: center;
  line-height: 26px;
}
.product-info-addsvg {
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.product-info-text03 {
  color: rgba(0, 0, 0, 1);
  width: 79px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-product-images {
  top: 176px;
  left: 110px;
  width: 529px;
  height: 518px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(196, 196, 196, 1);
}
.product-info-text05 {
  top: 193px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  width: 519px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 44px;
}
.product-info-text07 {
  top: 243px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  width: 519px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.product-info-text09 {
  top: 292px;
  left: 740px;
  color: var(--dl-color-default-primary);
  width: 357px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 28px;
}
.product-info-text11 {
  top: 412px;
  left: 739px;
  color: var(--dl-color-default-primary);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 28px;
}
.product-info-rectangle35 {
  top: 1386px;
  left: -2px;
  width: 1400px;
  height: 45px;
  position: absolute;
}
.product-info-text13 {
  top: 1399px;
  left: 639px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Public Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text15 {
  top: 1079px;
  left: 620px;
  color: var(--dl-color-colors_base-color6);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 22px;
}
.product-info-text17 {
  top: 1122px;
  left: 620px;
  color: rgba(17, 17, 17, 1);
  width: 190px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.product-info-text22 {
  top: 1079px;
  left: 831px;
  color: var(--dl-color-colors_base-color6);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 22px;
}
.product-info-text24 {
  top: 1122px;
  left: 831px;
  color: rgba(17, 17, 17, 1);
  width: 190px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.product-info-text26 {
  top: 1079px;
  left: 1043px;
  color: var(--dl-color-colors_base-color6);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 22px;
}
.product-info-text28 {
  top: 1122px;
  left: 1043px;
  color: rgba(17, 17, 17, 1);
  width: 190px;
  height: auto;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.product-info-line13 {
  top: 1045px;
  left: 50px;
  width: 1300px;
  height: 1px;
  position: absolute;
}
.product-info-rectangle33 {
  top: 3px;
  left: 0px;
  width: 1400px;
  height: 45px;
  position: absolute;
}
.product-info-navbar {
  top: 48px;
  left: 2px;
  width: 1400px;
  height: 60px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-info-frame4 {
  gap: 32px;
  top: 18px;
  left: 145px;
  width: 395px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.product-info-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text41 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text43 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-line1 {
  top: 60px;
  left: 0px;
  width: 1400px;
  height: 1px;
  opacity: 0.5;
  position: absolute;
}
.product-info-frame5 {
  gap: 22px;
  top: 20px;
  left: 1109px;
  width: 176px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-info-group4 {
  width: 37px;
  height: 21.012765884399414px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-info-text47 {
  left: 25.7529296875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-vector {
  top: 0px;
  left: 0px;
  width: 18px;
  height: 21px;
  position: absolute;
}
.product-info-text48 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text50 {
  top: 68px;
  left: 1281px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text52 {
  top: 16px;
  left: 505px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Public Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text54 {
  top: 16px;
  left: 1201px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Public Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-component {
  top: 1029px;
  left: 10px;
  width: 610px;
  height: 318px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(239, 242, 246, 0);
}
.product-info-headertext {
  gap: 10px;
  top: 51px;
  left: 100px;
  width: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-info-text56 {
  color: var(--dl-color-colors_neutral-black);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-socialicons {
  gap: 21px;
  top: 241px;
  left: 100px;
  width: 215px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.product-info-button-text {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.product-info-iconly {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-info-search {
  top: 2.083523988723755px;
  left: 2.083523988723755px;
  width: 14.073225021362305px;
  height: 14.416475296020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-info-ellipse739 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
  border-color: rgba(19, 19, 19, 1);
  border-style: solid;
  border-width: 1.5px;
}
.product-info-line181 {
  top: 11.78032112121582px;
  left: 11.430206298828125px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.product-info-button-text1 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.product-info-iconly1 {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-info-search1 {
  top: 2.083523988723755px;
  left: 2.083523988723755px;
  width: 14.073225021362305px;
  height: 14.416475296020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-info-ellipse7391 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
  border-color: rgba(19, 19, 19, 1);
  border-style: solid;
  border-width: 1.5px;
}
.product-info-line1811 {
  top: 11.78032112121582px;
  left: 11.430206298828125px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.product-info-button-text2 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.product-info-iconly2 {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-info-search2 {
  top: 2.083523988723755px;
  left: 2.083523988723755px;
  width: 14.073225021362305px;
  height: 14.416475296020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-info-ellipse7392 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
  border-color: rgba(19, 19, 19, 1);
  border-style: solid;
  border-width: 1.5px;
}
.product-info-line1812 {
  top: 11.78032112121582px;
  left: 11.430206298828125px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.product-info-button-text3 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
}
.product-info-iconly3 {
  width: 18px;
  height: 18px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.product-info-search3 {
  top: 2.083523988723755px;
  left: 2.083523988723755px;
  width: 14.073225021362305px;
  height: 14.416475296020508px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.product-info-ellipse7393 {
  top: 0px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
  border-color: rgba(19, 19, 19, 1);
  border-style: solid;
  border-width: 1.5px;
}
.product-info-line1813 {
  top: 11.78032112121582px;
  left: 11.430206298828125px;
  width: 3px;
  height: 3px;
  position: absolute;
}
.product-info-body {
  gap: 10px;
  top: 100px;
  left: 100px;
  width: 420px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.product-info-text58 {
  color: var(--dl-color-colors_neutral-black);
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.product-info-text60 {
  top: 466px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
